table#ui-table {
    border: 1px solid #aaa;
    border-collapse: collapse;
}

th,td {
    position: relative;
    padding: 5px 0;
    width: 80px;
}
th {
    color: white;
    background: #333;
}
th i {
    position: absolute;
    right: 5px;
}
.arrow-down {
    bottom: 7px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid white;
}

.arrow-up {
    top: 7px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 7px solid white;
}
