body {
  padding: 20px;
  font-size: 16px;
  font-family: "Microsoft YaHei", serif;
}
body,h2 {  margin: 0;  }
h2 {
  font-size: 20px;
}
.main {
  padding: 20px;
  min-width: 720px;
  background: #eee;
  border: 1px solid #999;
}
.clearfix {zoom: 1;}
.clearfix:after {
  display: block;
  height: 0;
  content: "";
  clear: both;
}
.main-left {
  float: left;
  padding: 20px;
  width: 160px;
  background: #fff;
  border: 1px solid #999;
}
img {
  float: left;
  width: 80px;
  padding-right: 10px;
}

.main-right {
  padding: 0 20px;
  width: 80px;
  float: right;
  background: #fff;
  border: 1px solid #999;
}
.main-right .skill {
  margin: 20px 0;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 5;
  background: #eee;
  border: 1px solid #999;
}
.main-middle {
  padding: 20px;
  margin-left: 220px;
  margin-right: 140px;
  background: #fff;
  border: 1px solid #999;
}


